<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue post publish</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<main id="app" class="app">
		<h1 class="title">Post publish on vue.js</h1>


		<form class="form">
			<p class="form__title">Post title</p>
			<input type="text" class="form__field" v-model="title">

			<p class="form__title">Post text</p>
			<textarea type="text" class="form__field form__field--textarea" v-model="text"></textarea>
			<p class="form__title">Images</p>
			<div class="form-dropzone"
					v-on="{
						dragleave: dropzoneDisable,
						drop: [dropZoneDrop, dropzoneDisable],
						dragenter: dropzoneEnable,
						dragover: dropzoneEnable}"
					v-bind:class="{hightlight: dropzoneIsActive}">
				<p v-if="!photos.length" class="form-dropzone__text">drop images</p>

				<ul v-if="photos.length" class="form-dropzone__list">
					<li v-for="(item, index) in photos" class="form-dropzone__item">
						<img :src="item" alt="" class="form-dropzone__img">
					</li>	
				</ul>			
			</div>
			<button class="btn" @click.prevent="addPost">Create post</button>
		</form>

		

		<ul class="post-list">
			<post-item v-for="(item, index) in posts" :key="index" :post="item" :position="index"></post-item>
		</ul>

		<!-- You really want delete this post? You do not be able to return him. -->
	</main>

	
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<!-- <script src="dpslider.js"></script> -->
	<script src="script.js"></script>
</body>
</html>